*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}


/* FONTS */

h1 {
    font-size: 1.75rem;
}

.watchlist-nav {
    font-size: 1.25rem;
}


@media (min-width: 550px) {

    h1 {
        font-size: 2rem;
    }
    
    .watchlist-nav {
        font-size: 1.5rem;
    }
    
}

@media (min-width: 1000px) {

    h1 {
        font-size: 3rem;
    }
    
    .watchlist-nav {
        font-size: 2rem;
    }
    
}

/* HEADER */

header {
    background-image: url('./images/movietheater.jpg');
    background-color: rgba(0, 0, 0, 0.429);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 30vh;
    color: rgba(255, 255, 255, 0.915);

}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;


}

h1 {
    margin-top: 2em;

}


.watchlist-nav {
    color: rgb(169, 169, 169);
    margin-top: 0.25em;

}

.watchlist-nav:hover {
    text-decoration: underline;
}


@media (min-width: 550px) {

    nav {
        margin: 0 auto;     
    }

    h1 {
        margin-top: 1.5em
    }

}

@media (min-width: 1000px) {

  h1 {
    margin-top: 1em
  }
    
}

/* MAIN */

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

form {
    width: 80%;
    display: flex;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    -moz-box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    border-radius: 10px;
    border-collapse: separate; 
    margin: 0 auto;
    margin-top: -1em;
    max-width: 1000px;


}

input, 
.search-btn {
    padding: 0.5em;
    border: 1px solid rgb(128, 123, 123);
}

input {
    width: 70%;
    outline: none;
    border-right: none;
    border-start-start-radius: 10px;
    border-bottom-left-radius: 10px;


}

.search-btn {
    width: 30%;
    background: rgb(241, 238, 238);
    color: rgb(57, 56, 56);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: color 1500ms;
}

.search-btn:hover {
    cursor: pointer;
    background-color:rgb(51, 50, 50); 
    color: rgb(232, 232, 232);
}

.explore {
   text-align: center;
   color: rgb(57, 56, 56);
   font-size: 1.1rem;

}

.cameraroll {
    margin-top: 7.5em;
    width: 100px;
    opacity: 90%;
}

.cameraroll-explore {
    margin-top: 10em;
}


@media (min-width: 550px) {

    form {
        margin-top: -1.3em;
    }

    input,
    .search-btn {
        font-size: 1.125rem
    }

   .explore {
    font-size: 1.35rem;
   }

   .cameraroll-explore {
    margin-top: 8.5em;
}
}

/* MOVIE  */

.movie-data {
    width: 80%;
    margin: 0 auto;    
    margin-top: 1em;
    text-align: center;
}

.movie-info {
    margin-top: 1em;
    width: 100%;
    font-size: 0.8rem;
}

.movie-title {
    font-size: 1.25rem;

}
.poster {
    width: 90%;
    margin: 0 auto;
    max-height: 280px;
    max-width: 200px;

}

p {
    margin-top: 0.4em;
}

.rating {
    font-weight: normal;
    font-size: 0.75rem;
}

.star {
    width: 10px;

}

.add-btn {
    width: 9px;
}

.plot {
    color: rgb(40, 40, 40);
}

.add-to-watchlist {
    color: rgb(176, 0, 0);
    font-weight: bold;
}

.add-to-watchlist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.additional-info {
    display: none;
}
@media (min-width: 550px) {

   .movie-data {
    display: flex;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    margin-top: 1em;
    justify-content: center;

   }

   .movie-info {
    width: 55%;
    margin-top: 0;
    margin-left: 1em;
   }

   .poster {
    width: 40%;
    max-height: 500px;
    max-width: 300px;
    margin: 0;

   }

   .movie-title {
    font-size: 1.25rem;
   }

   p {
    font-size: 0.9rem;
    margin-top: 0.5em
   }

   .star {
    width: 12px
   }

   .add-btn {
    width: 11px;
   }

}

@media (min-width: 1000px) {
        
    .searched-movies-long-plot {
        display: block;
    }

    .movie-title {
     font-size: 1.5rem;
    }
 
    p {
     font-size: 1rem;
     margin-top: 0.6em
    }
 
    .star {
     width: 15px
    }
    
    .add-btn {
        width: 14px;
    }

    .additional-info {
        display: block;
        font-size: 0.9rem;
        line-height: 1.5
        
    }
 }

 /* POP UP */

 .pop-up {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    width: 70%;
    height: 30vh;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    -moz-box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

 }

 @media (min-width: 550px) {
    .pop-up {
        top: 55px;
        width: 60%;
        padding: 1.5em
    }

    .pop-up-title {
        font-size: 1.5rem;
    }

    .pop-up-text {
        font-size: 1.125rem
    }
 }

 @media (min-width: 1000px) {
    .pop-up {
        width: 40%;
    }


  
 }