*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* FONTS */

h1 {
    font-size: 1.75rem;
}

.watchlist-nav {
    font-size: 1.25rem;
}


/* HEADER */

header {
    background-image: url('./images/movietheater.jpg');
    background-color: rgba(0, 0, 0, 0.429);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 30vh;
    color: rgb(232, 232, 232);

}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 2em;

}


.watchlist-nav {
    color: rgb(232, 232, 232);
    margin-top: 0.25em;

}

.watchlist-nav:hover {
    text-decoration: underline;
}


/* MAIN */

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
}

form {
    width: 80%;
    display: flex;
    -webkit-box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    -moz-box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    box-shadow: 0px 0px 7px 0px rgb(128, 123, 123);
    border-radius: 10px;
    border-collapse: separate; 
    margin: 0 auto;
    margin-top: -1em;

}

input, 
.search-btn {
    padding: 0.5em;
    border: 1px solid rgb(128, 123, 123);
}

input {
    width: 70%;
    outline: none;
    border-right: none;
    border-start-start-radius: 10px;
    border-bottom-left-radius: 10px;


}

.search-btn {
    width: 30%;
    background: rgb(230, 220, 220);
    color: rgb(57, 56, 56);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.explore {
   text-align: center;
   margin-top: 10em
}